body{
    font-size: 10pt;
}
#panel{
    width: 600px;
    height: 500px;
    border: 1px solid #999;
    position: relative;
}
#gigu {
    position: absolute;
    width: 80px;
    left: 50px;
    top : 120px;
}
#nav {
    text-align: center;
    width: 600px;
}